<div class="alert alert-success"><h3>Leave management</h3></div>
<button class="btn btn-success" (click)="openModal(content,null,null)">Add leave</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Place holder name</th>
            <th>Date created</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let lv of leaveService.leaveList">
                <td>{{ lv.employeesId}}</td>
                <td>{{ lv.startDate }}</td>
                <td>{{ lv.endDate }}</td>
                <td>{{ lv.placeholderId}}</td>
                <td>{{ lv.createdDate }}</td>
                <td><button class="btn btn-sm btn-success">Edit</button> | <button class="btn btn-sm btn-danger" (click)="onDelete(lv.id)">Delete</button></td>
            </tr>
        </tbody>
    </table> 
</div>
<ng-template #content let-modal>
        <form [formGroup] (submit)="onSubmit()" >
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add leave</h3>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Select Employee</label>
                                <select class="form-control" formControlName="EmployeeId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let emp of employeesService.employeesList" value="{{emp.employeeId}}">{{emp.employeeId}} ({{emp.firstName}} {{emp.lastName}})</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Start date</label>
                                <input type="date" formControlName="StartDate" class="form-control" placeholder="Start date" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>End date</label>
                                <input type="date" formControlName="EndDate" class="form-control" placeholder="End date" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Select placeholder Id</label>
                                <select class="form-control" formControlName="PlaceholderId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let emp of employeesService.employeesList" value="{{emp.employeeId}}">{{emp.employeeId}} ({{emp.firstName}} {{emp.lastName}})</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button class="btn btn-danger" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">Close</button>
                </div>
            </div>
        </form>
</ng-template> 

