<div class="alert alert-success"><h3>Tasks progress</h3></div>
<button class="btn btn-success" (click)="openModal(content,null,null)">Add tasks progress</button>
<button class="btn btn-warning m-1" (click)="generatePdf()">Tasks Progress Report</button>
<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
        <thead>
            <th>TASKS</th>
            <th>STATUS</th>
            <th>PROGRESS</th>
            <th>DATE CREATED</th>
            <th>ACTION</th>
        </thead>
        <tbody>
            <tr *ngFor="let tasks of tasksProgresService.tasksProgressList;let i=index;">
                <td>{{ tasks.tasksId}}</td>
                <td>{{ tasks.status }}</td>
                <td><ngb-progressbar type="danger" [value]=" tasks.metric ">{{tasks.metric}}%</ngb-progressbar></td>
                <td>{{ tasks.createdDate }}</td>
                <td><button class="btn btn-sm btn-success">Edit</button> | <button (click)="onDelete(tasks.id)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<!--EMPLOYEES MODALL-->
<ng-template #content let-modal>
    <form #form="ngForm" (submit)="onSubmit(form)" >
        <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add tasks progress</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <!-- <p>{{formData.firstName}}</p> -->
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Select task</label>
                        <select class="form-control" name="TasksId" #DepartmentId="ngModel" [(ngModel)]="formData.TasksId">
                            <option value="0">--Select--</option>
                            <option *ngFor="let task of tasksService.tasksList" value="{{task.id}}">{{task.taskSubject}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Select status</label>
                        <select class="form-control" name="Status" #Status="ngModel" [(ngModel)]="formData.Status">
                            <option value="0">--Select--</option>
                            <option value="started">Started</option>
                            <option value="progress">In progress</option>
                            <option value="completed">Completed</option>
                            <option value="postponed">Postponed</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Progress</label>
                        <input type="range" name="Metric" #Metric="ngModel" [(ngModel)]="formData.Metric" min="0" max="100" class="form-control" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Comments</label>
                        <input name="Comments" #Comments="ngModel" [(ngModel)]="formData.Comments" class="form-control" placeholder="Comments" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Save</button>
        </div>
    </form>
  </ng-template>
