<div class="alert alert-success"><h3>System users</h3></div>
<button class="btn btn-success" (click)="openModal(content,null,null)">Add users</button>
<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Username</th>
            <th>Date created</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersService.usersList">
                <td>{{ user.firstName}} {{user.lastName}}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.createdDate }}</td>
                <td><button class="btn btn-sm btn-success">Edit</button> | <button class="btn btn-sm btn-danger" (click)="onDelete(user.id)">Delete</button></td>
            </tr>
        </tbody>
    </table> 
</div>
<ng-template #content let-modal>
        <form #form="ngForm" (submit)="onSubmit(form)" >
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add system user</h3>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Select Employee</label>
                                <select class="form-control" name="EmployeesId" #EmployeesId="ngModel" [(ngModel)]="user.EmployeesId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let emp of employeesService.employeesList" value="{{emp.id}}">{{emp.id}} ({{emp.firstName}} {{emp.lastName}})</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="Username" #Username="ngModel" [(ngModel)]="user.Username" class="form-control" placeholder="Username" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" name="Password" #Password="ngModel" [(ngModel)]="user.Password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="form.invalid" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
</ng-template>
