<div class="alert alert-success"><h3>Leave management list</h3></div>
<button class="btn btn-success" (click)="openModal(content,null,null)">Add leave</button>
<button class="btn btn-warning m-1" (click)="generatePdf()">Leave report</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Placeholder Name</th>
            <th>Date created</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let lv of leaveHolderService.leaveHolderList">
                <td>{{ lv.leave.employee.firstName }} {{ lv.leave.employee.lastName }}</td>
                <td>{{ lv.leave.startDate }}</td>
                <td>{{ lv.leave.endDate }}</td>
                <td>{{ lv.employee.firstName }} {{ lv.employee.lastName }}</td>
                <td>{{ lv.createdDate}}</td>
                <td><button class="btn btn-sm btn-success" (click)="editData(content,lv)">Edit</button> | <button class="btn btn-sm btn-danger" (click)="onDelete(lv.id)">Delete</button></td>
            </tr>
        </tbody>
    </table> 
</div>
<ng-template #content let-modal>
        <form [formGroup]="leaveHolderForm" (submit)="onSubmit()" >
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add leave holder</h3>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- ID -->
                        <input type="hidden" formControlName="Id" />
                        <div class="col-12">
                            <div class="form-group">
                                <label>Select Employee on leave</label>
                                <select class="form-control" formControlName="LeaveId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let lv of leaveService.leaveList" value="{{lv.id}}">{{lv.employee.firstName}} {{lv.employee.lastName}} ({{ lv.startDate}} - {{ lv.endDate }})</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Placeholder employee</label>
                                <select class="form-control" formControlName="EmployeeId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let emp of employeesService.employeesList" value="{{emp.employeeId}}">{{emp.employeeId}} ({{emp.firstName}} {{emp.lastName}})</option>
                                </select>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button class="btn btn-danger" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">Close</button>
                </div>
            </div>
        </form>
</ng-template> 


