<section id="login-section">
    <h1>Login</h1>
    <div class="row">
        <div class="col">
                <div class="form-group">
                        <div class="input-group mb-3">
                                <i class="fab fa-accessible-icon"></i>
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success form-control">Login</button>
</section>
