<!-- {{ details | json }} -->

<div class="alert alert-success">
    <h3>{{ details.meetings.subject }}</h3>
    <h6>Status : {{ details.meetingStatus }}</h6>
</div>
<div class="row">
    <div class="col-7 alert alert-light">
        {{ details.meetings.description }}
    </div>
    <div class="col-5 alert alert-secondary">
        <h2>Meetings History</h2>
        <div *ngFor="let mt of details.meetings.meetingsProgressHistory">
            <b>{{ mt.meetingStatus}}</b> : {{ mt.createdDate | date:'short'}}
        </div>
    </div>
</div>
