<div class="alert alert-success"><h3>Tickets</h3></div>
<button class="btn btn-success" (click)="openModal(content,null)">Add tickets</button>
<button class="btn btn-warning m-1" (click)="generatePdf()">Project Progress Report</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Created Date</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of ticketsService.ticketsList;let i=index;">
                <td>{{ ticket.employee.firstName }} {{ ticket.employee.lastName }}</td>
                <td>{{ ticket.createdDate }}</td>
                <td><button class="btn btn-sm btn-success" (click)="editData(content,ticket)">Edit</button> | <button class="btn btn-sm btn-danger" (click)="onDelete(ticket.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<!--EMPLOYEES MODALL-->
<ng-template #content let-modal>
    <form [formGroup]="ticketsForm" (submit)="onSubmit()">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add tickets</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <input type="hidden" formControlName="Id" />
                    <div class="form-group">
                        <label>Select Employees</label>
                        <select class="form-control" formControlName="EmployeeId">
                            <option value="0">--Select--</option>
                            <option *ngFor="let emp of employeesService.employeesList" value="{{emp.employeeId}}">{{emp.employeeId}} ({{emp.firstName}} {{emp.lastName}})</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</ng-template>
