<section class="container-fluid" id="admin-header">
    <div class="row">
        <div class="col">
            <h4>MIS</h4>
            <button type="button" class="btn btn-outline-light btn-sm">Logout</button>
        </div>
    </div> 
</section>
<section class="container-fluid" id="admin-body">
    <div class="row">
        <div class="col">
            <div id="side-nav">
                <div id="user-profile">
                    <h3>Username</h3>
                </div>
                <div>
                    <ul>
                        <li>User accounts</li>
                        <li>Meetins</li>
                        <li>Tasks</li>
                        <li>Projects</li>
                        <li>Support tickets</li>
                        <li>Leave schedule</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
