//Admin menu bar links mixins
@mixin adminLinks{
    text-decoration:none;
    display:block;
    color:#FFF;
    padding:5px;
    &:hover{
        background-color:#000;
        font-weight:bolder;
    }
    &:active{
        background-color:#22313f;
    }
}
//active class
.active{
    background-color:#000;
    font-weight:bolder;
}
//For active sub-menu
.sub-active{
    background-color:#02240b;
    font-weight:bolder;
}
#admin-header{
    background-color:#22313F;
    color:#FFFFFF;
    font-weight:bolder;
    position:fixed;
    top:0px;
    z-index:10;
    h4{
        // display:inline-block;
        float:left;
    }
    button{
        // display:inline-block;
        float:right;
    }
}
#admin-body{
    .col{
        padding:0px;
        margin:0px;
    } 
}
#side-nav{
    height:100vh ;
    background-color:#22313F;
    color:#FFFFFF;
    overflow:scroll;
    .col{
        width:0px;
        margin:0px;
    }
    #user-profile{
        position:absolute;
        text-align:center;
        width:100%;
        top:0px;
        z-index:1000;
        img{
            border-radius:50%;
        }
    }
    ul{
        padding:0px;
        margin:0px;
        width:100%;
        display:inline-block;
       
        li{
            list-style-type:none;
            width:100%;
            border-bottom:1px solid #FFF;  
            a{
               @include adminLinks;
            }
            .material-icons{
                float:right;
                margin-right:5px;
            }
            .down-arrow{
                font-size:30px;
                font-weight:bolder;
                position:relative;
                text-align:right;
            }
            ul{
                padding:0px;
                margin: 0px;
                width:100%;
                display:none;
                background-color:rgb(64, 90, 116);
                a{
                    @include adminLinks;
                 }
            }
        }
    }
    // #admin-body{
    //     position:relative;
    // }
}
@media screen and (min-width:768px){
    #side-nav{
        width:200px;
    }
}