<div class="alert alert-success"><h3>Projects progress</h3></div>
<button class="btn btn-success" (click)="openModal(content,null,null)">Add projects progress</button>
<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
        <thead>
            <th>PROJECTS</th>
            <th>PROGRESS</th>
            <th>DATE CREATED</th>
            <th>ACTION</th>
        </thead>
        <tbody>
            <tr *ngFor="let proj of projectsProgressService.projectsProgressList;let i=index;">
                <td>{{ proj.projectsId}}</td>
                <td><ngb-progressbar type="danger" [value]=" proj.metric ">{{proj.metric}}%</ngb-progressbar></td>
                <td>{{ proj.createdDate }}</td>
                <td><button class="btn btn-sm btn-success" (click)=populateForm(content,emp,i) >Edit</button> | <button (click)="onDelete(proj.id)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<!--EMPLOYEES MODALL-->
<ng-template #content let-modal>
    <form #form="ngForm" (submit)="onSubmit(form)" >
        <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add tasks progress</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <!-- <p>{{formData.firstName}}</p> -->
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Select project</label>
                        <select class="form-control" name="ProjectsId" #DepartmentId="ngModel" [(ngModel)]="formData.ProjectsId">
                            <option value="0">--Select--</option>
                            <option *ngFor="let proj of projectsService.projectsList" value="{{proj.id}}">{{proj.projectName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Progress</label>
                        <input type="range" name="Metric" #Metric="ngModel" [(ngModel)]="formData.Metric" min="0" max="100" class="form-control" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Comments</label>
                        <input name="Comments" #Comments="ngModel" [(ngModel)]="formData.Comments" class="form-control" placeholder="Comments" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Save</button>
        </div>
    </form>
  </ng-template>

