<div class="alert alert-success"><h3>Meeting attendance</h3></div>
<button class="btn btn-warning m-1" (click)="generatePdf()">Leave report</button>
<form [formGroup]="attendanceForm">
    <div class="form-group">
        <label>Select meeting</label>
        <select class="form-control" formControlName="MeetingsId">
            <option value="0">--Select meeting--</option>
            <option *ngFor="let meeting of meetingService.meetingsList" value="meeting.id">{{ meeting.subject }} ({{ meeting.meetingDate | date }} - {{ meeting.meetingTime }})</option>
        </select>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Employee no</th>
                <th>Employee name</th>
                <th>In attendance</th>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let user of userService.userList; let group of attendanceArray.controls; let i = index; addProjectFormArray()" [formGroupName]="i"> -->
                <tr *ngFor="let user of userService.userList;" >
                    <!-- <form [formGroup]="attendanceForm"> -->
                        <!-- <input type="hidden" formControlName="EmployeeId" /> -->
                        <!-- <input type="hidden" formControlName="MeetingsId" />  -->
                        <td>{{ user.id }}</td>
                        <td>{{ user.fullName }}</td>
                        <td><input type="checkbox" /></td>
                    <!-- </form> -->
                </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-success form-control" value="Submit attendance" />
    </div>
</form>
