<div class="alert alert-success"><h3>Employees</h3></div>
<button class="btn btn-success" (click)="openEmployeesModal(content,null,null)">Add employees</button>
<div class="table-responsive">
    <table  class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Date created</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeService.employeesList;let i=index;">
                <td>{{ emp.firstName}} {{emp.lastName}}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.phone }}</td>
                <td>{{ emp.departmentId }}</td>
                <td>{{ emp.createdDate }}</td>
                <td><button class="btn btn-sm btn-success" (click)=populateEmployeesForm(content,emp,i) >Edit</button> | <button (click)="onDelete(emp.id)" class="btn btn-sm btn-danger">Delete</button></td>
                <!-- (click)="openEmployeesModal(content,emp,i)" -->
                <!-- <td>{{}}</td> -->
            </tr>
        </tbody>
    </table>
</div>
<!--EMPLOYEES MODALL-->
<ng-template #content let-modal>
    <form #form="ngForm" (submit)="onSubmit(form)" >
        <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add employees</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <!-- <p>{{formData.firstName}}</p> -->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <!--EMPLOYEE ID-->
                    <!-- <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="formData.Id" > -->
                    <div class="form-group">
                        <label>First Name</label>
                        <input name="FirstName" #FirstName="ngModel" [(ngModel)]="formData.FirstName" class="form-control" placeholder="First Name" required/>
                        <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field is required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last name</label>
                        <input name="LastName" #LastName="ngModel" [(ngModel)]="formData.LastName" class="form-control" placeholder="Last Name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input name="Email" #Email="ngModel" [(ngModel)]="formData.Email" class="form-control" placeholder="Email" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <input name="Phone" #Phone="ngModel" [(ngModel)]="formData.Phone" class="form-control" placeholder="Phone number" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Department</label>
                        <select class="form-control" name="DepartmentId" #DepartmentId="ngModel" [(ngModel)]="formData.DepartmentId">
                            <option value="0">--Select--</option>
                            <option *ngFor="let dep of departmentService.departmentsList" value="{{dep.departmentId}}">{{dep.departmentName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Save</button>
        </div>
    </form>
  </ng-template>