<div class="alert alert-success"><h3>Projects</h3></div>
<button class="btn btn-success" (click)="openModal(content,null,null)">Add project</button>
<button class="btn btn-warning m-1" (click)="generatePdf()">Project report</button>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Employee name</th>
            <th>Date posted</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let proj of projectService.projectsList">
                <td>{{ proj.projectName}}</td>
                <td>{{ proj.startDate }}</td>
                <td>{{ proj.endDate}}</td>
                <td>{{ proj.employee.firstName}} {{ proj.employee.lastName}}</td>
                <td>{{ proj.createdDate}}</td>
                <td><button class="btn btn-sm btn-success" (click)=editData(content,proj)>Edit</button> | <button class="btn btn-sm btn-danger" (click)="onDelete(proj.id)">Delete</button></td>
            </tr>
        </tbody>
    </table> 
</div>
<ng-template #content let-modal>
        <form [formGroup]="projectsForm" (submit)="onSubmit()" >
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Project</h3>
                    <button class="close" (click)="modal.dismiss('Cross click')">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- ID -->
                        <input type="hidden" formControlName="Id" />
                        <div class="col-12">
                            <div class="form-group">
                                <label>Project subject</label>
                                <input type="text" formControlName="ProjectName" class="form-control" placeholder="Project name" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Start date</label>
                                <input type="date" formControlName="StartDate" class="form-control" placeholder="Start date" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>End date</label>
                                <input type="date" formControlName="EndDate" class="form-control" placeholder="End date" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Select Employee</label>
                                <select class="form-control" formControlName="EmployeeId">
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let emp of employeesService.employeesList" value="{{emp.employeeId}}">{{emp.employeeId}} ({{emp.firstName}} {{emp.lastName}})</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-success">Save</button>
                    <button class="btn btn-danger" (click)="modal.dismiss('Cross click')">Close</button>
                </div>
            </div>
        </form>
</ng-template>




