<div class="alert alert-success"><h3>Meetings</h3></div>
<button class="btn btn-success" data-toggle="modal" data-target="#meetings-modal">Add a meeting</button>
<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
        <thead>
            <th>Subject</th>
            <th>Description</th>
            <th>Date</th>
            <th>Date posted</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let meeting of meetingsService.meetingsList">
                <td>{{ meeting.subject}}</td>
                <td>{{ meeting.description }}</td>
                <td>{{ meeting.meetingDate }}</td>
                <td>{{ meeting.createdDate}}</td>
                <td><button class="btn btn-sm btn-success">Edit</button> | <button class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table> 
</div>
<div class="modal" id="meetings-modal">
    <div class="modal-dialog modal-lg">
        <form #form="ngForm" (submit)="onSubmit(form)" >
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add system user</h3>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" name="Subject" #Subject="ngModel" [(ngModel)]="meeting.Subject" class="form-control" placeholder="Meeting subject" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Meeting description</label>
                                <input type="text" name="Description" #Description="ngModel" [(ngModel)]="meeting.Description" class="form-control" placeholder="Meeting description" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Meeting date</label>
                                <input type="text" name="MeetingDate" #MeetingDate="ngModel" [(ngModel)]="meeting.MeetingDate" class="form-control" placeholder="Meeting date" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-success">Save</button>
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div> 


